---
---

//
// IMPORTS
//

@import "_reset";
@import "_variables";
@import "_svg-icons";
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700");
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: $white;
  font: 15px/1.8em $openSans;
  color: $darkGray;
  position: relative;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: $black;

  line-height: 1.2;
  margin-bottom: 0.6em;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 2em;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
  margin-top: 2em;
}

h4 {
  font-size: 1.3em;
  margin-top: 1.8em;
  margin-bottom: 5px;
  color: $darkBlue;
}

h5 {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0.9em 0 0.5em;
}

h6 {
  font-weight: bold;
}

p {
  margin-bottom: 2.2em;
}

a {
  color: $darkBlue;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  &:hover, &:active {
    color: $black;
  }
}

ol, ul {
  padding-left: 30px;
  margin-bottom: 2.2em;
}

ul li {
  list-style: disc;
}

ul li ul li {
  list-style: circle;
}

b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

abbr, acronym {
  cursor: help;
  border-bottom: 0.1em dotted;
}

td, td img {
  vertical-align: top;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

code {
  font-family: $courier;
  background: transparent;
  color: rgb(100,100,100);
  padding: 0px 2px;
  font-size: 0.9em;
}

pre {
  background: transparent;
  overflow: auto;
}

blockquote {
  font-style: italic;
  margin: 0 0 2.2em 15px;
  padding-left: 10px;
  border-left: 5px solid $blue;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

header,
#content {
  width: 94%;
  max-width: 980px;
}

header {
  padding: 60px 0 0;
  margin: 0 auto 0px;

  a {
    color: $blue;
  }

}

header h1 {
  font-weight: bold;
  margin: 0;
  float: left;
  overflow: hidden;

  a {
    color: $darkBlue;
  }

  @include mobile {
    width: 100%;
    float: none;
  }

}

#logo {
  position: fixed;
  overflow: hidden;

  a {
    width: 120px;
    height: 120px;
    overflow: hidden;
    float: left;
    background-image: url('images/5id_logo_roundel-alt.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: 150px;
    border: 3px solid rgba(255,255,255,0.4);
    @include border-radius(120px);

    @include mobile {
      display: block;
      margin: 0 auto;
      float: none;
      overflow: hidden;
    }

  }

  @include tablet-portrait {
    position: relative;
    float: left;
    width: 50%;
  }

  @include mobile {
    float: none;
    width: 100%;
  }

}

header nav {
  width: 600px;
  list-style: none;
  margin: 45px auto 0;
  padding: 0;
  position: relative;

  @include tablet-portrait {
    width: 50%;
    float: right;
  }

  @include mobile {
    width: 100%;
  }

  ul {
    padding: 0;

    @include mobile {
      width: 100%;
      text-align: center;
    }

  }

  li {
    display: inline;

    @include mobile {
      width: 30%;
      display: inline-block;
    }

    a.current {
      border-bottom: 3px solid;
      padding-bottom: 5px;
    }

  }

}

.global-nav {
  float: left;

  @include tablet {
    float: right;
  }

  @include mobile {
    float: none;
  }

  li.current {
    a {
      font-weight: bold;
    }
  }

}

.context-nav {
  float: right;
}

header .global-nav a {
  margin-right: 20px;

  @include mobile {
    margin-right: 0px;
  }

}

header .context-nav a {
  margin-left: 20px;
}

header .context-nav a {
  padding: 5px 10px;
  background-color: $darkBlue;
  color: $lightGray;

  @include border-radius(3px);

}

/* Content */

#content {
  margin: 60px auto 30px;
}

.introduction {
  width: 600px;
  margin: 0px auto 90px;
  box-sizing: border-box;

  @include mobile {
    width: 95%;
  }

  h1 {
    font-size: 1.2em;
    margin-bottom: 3em;
    font-weight: bold;
  }
  h2 {
    font-size: 1em;
    margin-bottom: 1em;
  }
  ul {
    &.language-list {
      list-style: none;
      padding: 0;
      margin: 10px 0 30px;
      li {
        display: inline-block;
        padding: 5px 8px;
        margin: 5px 5px 10px 0;
        background: $lightGray;
        font-size: 0.8em;
        @include border-radius(3px);
        &:hover {
          //background: $subtleBlue;
        }
        &.button {
          background: transparent;
        }
      }
    }
  }
}

/* Footer */

footer {
  width: 600px;
  padding: 10px 0;
  margin: 0px auto 0;
  border-top: 1px dashed $darkBlue;
  text-align: right;
  font-size: 13px;
  color: $darkBlue;

  @include box-sizing(border-box);

  @include mobile {
    width: 90%;
  }

}

footer ul {
  padding: 0;
  li {
    list-style-type: none;
    display: inline;
  }
}

#social {
  float: left;
  text-align: left;
  li {
    margin-right: 10px;
  }

  @include mobile {
    float: none;
    text-align: center;
  }

}

#legal {
  float: right;
  text-align: right;
  li {
    margin-left: 10px;
  }
}

/* !BLOG POSTS */

.post {
  width: 600px;
  margin: 60px auto;

  img {
    max-width: 100%;
    border: 5px solid white;
    box-sizing: border-box;
    @include box-shadow(0px, 0px, 5px, rgba(0,0,0,0.3));
  }

  @include mobile {
    width: 95%;
  }

}

p.meta {
  color: $blue;
}

.page-nav a {
  display: block;
  margin: 60px 0 30px;
}

.next {
  float: right;
}

.prev {
  float: left;
}

/* !PORTFOLIO */

#portfolio {
  margin: 0px auto 60px;
  width: 630px;

  @include mobile {
    width: 95%;
  }

  h2 {
    width: 600px;
    margin: 0 auto 0.8em;
    color: $darkBlue;
    font-size: 1.3em;

    @include mobile {
      text-align: center;
      width: 100%;
    }

  }

  ul {
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
    overflow: hidden;

    li {
      overflow: hidden;
      float: left;
      border: 1px solid $subtleBlue;
      width: 200px;
      height: 200px;
      margin: 5px;
      padding: 10px;
      position: relative;

      img {
        height: 100%;
        width: 100%;
      }

      .caption {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        background: $white;
        text-align: center;
        font-size: 0.8em;
      }

      @include mobile {
        width: 230px;
        height: 230px;
        float: none;
        margin: 5px auto;
      }

    }

  }

}

/* Project Page */

#header-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 320px;
  background-color: $darkerBlue;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 50%;

  &.moonstone {
    background-color: $moonstone;
  }
  &.spicy-manta {
    background-color: $spicyManta;
  }
  &.sift {
    background-color: $sift;
  }
  &.wisp {
    background-color: $wisp;
  }
  &.under-construction {
    background-color: $darkBlue;
  }
  &.knowledge {
    background-color: #56b273;
  }
  &.eqtwo {
    background-color: #000;
  }
  &.flyvlm {
    background-color: #0a4e8f;
  }
  &.myhomelife {
    background-color: #d7125f;
  }
  &.paradigm {
    background-color: #ea8d55;
  }
  &.torque {
    background-color: #000;
    background-size: auto;
  }
  &.lumsspace {
    background-color: #756c7c;
  }
  &.cityshortcourses {
    background-color: #9d2e3f;
  }
  @include tablet {
    background-image: none !important;
  }
  @include tablet-portrait {
    height: 240px;
  }
  @include mobile {
    height: 320px;
  }

}

#sub-nav {
  position: fixed;
  width: 160px;

  @include tablet-portrait {
    display: none;
  }

  ul {
    padding-left: 0;
  }

  li {
    width: 100%;
    list-style: none;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 0.8em;

    a {
      width: 100%;
      display: block;
    }

  }

}

body.project-page {

  #content {
    margin-top: 200px;

    @include tablet-portrait {
      margin-top: 80px;
    }

  }

  header a {
    color: $white;
  }

  #logo a {
      background-image: url('images/5id_logo_roundel.png');
  }

  h1 {
    font-size: 2.8em;
    color: rgb(54,83,115);
    margin-bottom: 0.2em;
  }

  h2 {
    font-size: 1.2em;
    font-style: italic;
    color: $blue;
  }

  h3 {
    font-size: 1.5em;
  }

  img {
    min-height: 200px;
    width: 100%;
  }

  .mobile-image {
    width: 48%;
    float: left;
    &.leftalign {
      float: left;
    }
    &.rightalign {
      float: right;
    }
    @include mobile {
      width: 100%;
    }
  }

}

// Holding Page
#holding-page {
  width: 600px;
  height: 400px;
  position: absolute;
  background: rgb(255,255,255);
  top: 200px;
  left: 200px;
  @include mobile {
    width: 100%;
    top: 100px;
    left: 0px;
  }
  .global-nav {
    width: 100%;
    text-align: center;
    margin: 20px 0 60px 0;
    padding: 0;
    li {
      width: 100px;
      text-align: center;
      display: inline-block;
      padding: 2%;
    }
  }
  .social-nav {
    border-top: 1px dashed $darkBlue;
    padding: 22px 0;
    font-size: 0.8em;
    text-align: center;
    margin: 0;
    li {
      display: inline-block;
      margin: 0 20px;
      &.svg-icon {
        width: 25px;
        height: 25px;
        overflow: hidden;
        background-size: contain;
        a {
          width: 25px;
          height: 25px;
          overflow: hidden;
          text-indent: 30px;
          display: block;
        }
      }
    }
  }
  p.copyright {
    margin-top: 40px;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    color: $darkBlue;
  }
}

#logo.large-logo {
  width: 120px;
  height: 120px;
  margin: 20px auto;
  position: relative;
  a {
    width: 120px;
    height: 120px;
    text-indent: 250px;
  }
}

@import "_highlights";

.highlight {
  background-color: rgb(250,250,250);
  margin-bottom: 2.2em;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
