//
// VARIABLES
//

// Colors
$blue: rgb(93,133,179);
$darkBlue: rgb(58,85,117);
$subtleBlue: rgba(70,96,125,0.4);
$darkerBlue: rgb(21,19,35);

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #444;
$gray: rgb(100,100,100);
$lightGray: rgb(244,244,244);
$white: #fff;

// Project palette
$moonstone: rgb(252,75,121);
$spicyManta: rgb(240,78,68);
$sift: rgb(41,38,68);
$wisp: rgb(254,122,15);

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$openSans: 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
$courier: Courier, "Courier New", Monaco, Tahoma;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@mixin tablet-portrait {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

// Rounded Corners
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// Box Sizing
@mixin box-sizing($boxSizing) {
     -moz-box-sizing: $boxSizing;
          box-sizing: $boxSizing;
}

// Box Shadow
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}
